:root {
  --accent-color: #2196F3;
  --accent-background-color: #2F303A;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.bottom-text {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

.soc__list {
  display: flex;
  justify-content: center;
}

.soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.soc__item:last-child {
  margin-right: 0px;
}

.soc__link {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196F3;
}
.soc__link:hover .soc__icon,
.soc__link:hover .soc__icon, .soc__link:focus .soc__icon,
.soc__link:focus .soc__icon {
  fill: #FFFFFF;
}

.soc__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(25, 38, 28, 0.4);
  transition: opacity 500ms, visibility 500ms;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 500ms;
  padding: 40px;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-btn-icon:hover {
  fill: #2196F3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.modal-input:hover, .modal-input:focus {
  border-color: #2196F3;
}
.modal-input:hover + .modal-icon,
.modal-input:hover + .modal-icon, .modal-input:focus + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #2196F3;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.modal-icon:hover, .modal-icon:focus {
  fill: #2196F3;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 4px;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.modal-text:hover, .modal-text:focus {
  border-color: #2196F3;
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-field-check {
  margin-top: 10px;
}

.check-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/*.check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 8px;
}*/
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

.checkbox-link {
  margin-left: 5px;
  color: var(--accent-color);
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 125px;
  margin-top: 30px;
  transition-property: background, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.modal-btn:hover, .modal-btn:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.header {
  background-color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.connect__list {
  display: flex;
}

.nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo__accent {
  color: #212121;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.nav__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -34px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__item {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__item:hover .connect__mail, .nav__item:focus .connect__mail {
  fill: var(--accent-color);
}
.nav__item:hover .connect__tel, .nav__item:focus .connect__tel {
  fill: var(--accent-color);
}

.connect__item {
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.connect__item:not(:last-child) {
  margin-right: 50px;
}

.connect {
  margin-left: auto;
}

.connect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}

.connect__mail {
  width: 16px;
  height: 12px;
  background-color: #FFFFFF;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
  fill: currentColor;
}

.connect__tel {
  width: 10px;
  height: 16px;
  background-color: #FFFFFF;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
  fill: currentColor;
}

.hero .container {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--accent-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero-btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition-property: background, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.hero-btn:hover, .hero-btn:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.pec {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .pec {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .pec {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.pec-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--contet-title-color);
}
@media screen and (min-width: 768px) {
  .pec-text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .pec-text {
    text-align: left;
  }
}

.pec-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pec-bottom-text {
  font-size: 14px;
  line-height: 1.71;
  padding-top: 10px;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .pec-bottom-text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .pec-bottom-text {
    width: 270px;
  }
}

.pec-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .pec-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .pec-item {
    width: calc((100% - 90px) / 4);
  }
}

.pec-item::before {
  display: block;
  content: "";
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.pec-icon-antenna::before {
  background-image: url(../images/antenna-pec.svg);
}

.pec-icon-clock::before {
  background-image: url(../images/clock-pec.svg);
}

.pec-icon-diagram::before {
  background-image: url(../images/diagram-pec.svg);
}

.pec-icon-astronaut::before {
  background-image: url(../images/astronaut-pec.svg);
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  margin-top: 50px;
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-img-text {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.work-bottom-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

/*.team-item:not(:last-child) {
    margin-left: 30px;
}*/
.managers {
  padding-top: 30px;
  padding-bottom: 30px;
}

.managers__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.managers__position {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.footer {
  background-color: var(--accent-background-color);
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-box {
  display: inline-flex;
}

.footer-connect {
  margin-left: 70px;
  margin-top: 12px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.footer-adress:hover, .footer-adress:focus {
  color: var(--accent-color);
}

.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.footer-tel:hover, .footer-tel:focus {
  color: var(--accent-color);
}

.footer-logo-accent {
  color: #F5F4FA;
}

.item-footer-mail {
  margin-top: 9px;
}

.item-footer-tel {
  margin-top: 9px;
}

.connect-soc-list {
  display: flex;
}

.connect-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.connect-soc-item:last-child {
  margin-right: 10px;
}

.connect-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.connect-soc-link:hover, .connect-soc-link:focus {
  background-color: #2196F3;
}
.connect-soc-link:hover .connect-soc-icon,
.connect-soc-link:hover .connect-soc-icon, .connect-soc-link:focus .connect-soc-icon,
.connect-soc-link:focus .connect-soc-icon {
  fill: #FFFFFF;
}

.connect-soc-icon {
  fill: #FFFFFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.connect-soc {
  padding-top: 72px;
  padding-bottom: 100px;
}

.connect-soc-list {
  margin-top: 20px;
}

.connect-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-mailing {
  padding-top: 12px;
  padding-left: 93px;
}

.footer-mailing-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-mailing-input {
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
  margin-top: 10px;
  padding-left: 16px;
  background-color: #2F303A;
  cursor: pointer;
}
.footer-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  margin-left: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition-property: background, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.footer-btn:hover, .footer-btn:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-send-icon {
  margin-left: 10px;
}

.portf {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
}

.portfolio-item-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  flex-basis: calc(11.1111111111% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:hover .portfolio-top-text, .portfolio-item:focus .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  /* or 156% */
  height: 100%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
  color: #212121;
  width: 128px;
  height: 38px;
  background-color: #F5F4FA;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-all {
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 73px;
  height: 38px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
.portfolio-btn-all:hover, .portfolio-btn-all:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-bottom-text {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}

.portf-bottom-title {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .clients-list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    margin-top: 50px;
  }
}

.clients-item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196F3;
}
.clients-link:hover .clients-icon,
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196F3;
}

.clients-icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}/*# sourceMappingURL=main.css.map */