.portf {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list-btn {
    display: flex;
    justify-content: center;
}

.portfolio-item-btn:not(:last-child) {
    margin-right: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
    //margin-left: -30px;
    //margin-bottom: -30px;
}

.portfolio-item {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;


    //flex-basis: calc(100% / 9 - 30px);
    //margin-left: 30px;
    //margin-bottom: 30px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-delay: 0;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

      .portfolio-top-text {
          transform: translateY(0);
    }
  }
}

.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-top-text {
    position: absolute;
    top: 0%;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    /* or 156% */
    height: 100%;

    letter-spacing: 0.03em;

    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-delay: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-btn {
    color: #212121;
    width: 128px;
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
        color: #FFFFFF;
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}





.portfolio-btn-all {
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 73px;
    height: 38px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-delay: 0;

    &:hover,
    &:focus {
        color: #FFFFFF;
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.portfolio-bottom-text {
    font-size: 16px;
    line-height: 1.87;

    margin-top: 4px;
}

.portf-bottom-title {

    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

}

