.work {

    display: none;
    
    @include desktop {
        display: block;
        padding-top: 47px;
        padding-bottom: 94px;
    }
}



.work-list {
    margin-top: 50px;

    display: flex;

    /*@include tablet {
        display: none;
    }
    
    @include desktop {
        display: flex;
    }*/

}

.work-item:not(:last-child) {
    margin-right: 30px;
}

.work-img-text {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.work-bottom-text {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 4px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1, 14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-top: 27px;
    padding-bottom: 27px;

    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}