.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

    background-color: rgba(25, 38, 28, 0.4);

    transition: opacity 500ms, visibility 500ms;

    .is-hidden .modal {
        transform: translate(-50%, -50%) scale(0) rotate(180deg);
    }

}



.modal {
    width: 450px;
    min-height: 609px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 500ms;
    padding: 40px;

    @include desktop {
        width: 528px;
        min-height: 581px;
    }
}

.modal-close-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.modal-btn-icon:hover {
    fill: #2196F3;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 12px;

    @include desktop {
        line-height: 1.15;
    }
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;
    padding-left: 42px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-delay: 0;

    &:hover,
    &:focus {
        border-color: #2196F3;

        +.modal-icon,
        +.modal-icon {
            fill: #2196F3;
        }
    }
}

.modal-field {
    margin-bottom: 10px;
}



.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-delay: 0;

    &:hover,
    &:focus {
        fill: #2196F3;
    }
}


.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: #757575;

    margin-bottom: 4px;
    display: block;
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-bottom: 4px;
    cursor: pointer;

    padding-top: 12px;
    padding-left: 16px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-delay: 0;

    &:hover,
    &:focus {
        border-color: #2196F3;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}


.modal-field-check {
    margin-top: 10px;
}

.check-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
   
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    color: #757575;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    @include desktop {
        font-size: 14px;
        line-height: 1.71;
    }
}

/*.check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 8px;
}*/

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.check-icon {
    fill: transparent;
}

.modal-check:checked+.check-text span {
    background-color: var(--accent-color);
    border: none;
}

.modal-check:checked+.check-text .check-icon {
    fill: #ffffff;
}

.checkbox-link {
    margin-left: 5px;
    color: var(--accent-color);
}

.modal-btn {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-left: 85px;
    margin-top: 30px;

    transition-property: background, box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-delay: 0;

    &:hover,
    &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    @include desktop {
        margin-left: 125px;
    }
}

